---
import Layout from "../../layouts/Layout.astro";
import type { WordDefinition } from "../../models/word-definition";
import "./word.css";
const { word } = Astro.params;
if (!word) {
  window.location.href = "/";
}

let response = await fetch(`${import.meta.env.BACKEND}api/word/${word}`);
let wordDefinition: WordDefinition = await response.json();
---

<Layout title="" word="''">
  <!-- <main class="">{wordDefinition.definition} {wordDefinition.word}</main> -->
  <div>
    <div>
      <h2 class="uppercase word-detail">
        {wordDefinition.word} | <span>{wordDefinition.pronounceVi}</span> | <span class="cursor-pointer"
          ><i class="fa-solid fa-headphones"></i> US</span
        >|
        <span class="cursor-pointer"
          ><i class="fa-solid fa-headphones"></i> UK</span
        >
      </h2>
      <Fragment>
        {
          wordDefinition.wordTypes.map(wordType => (
            <div class="mb-2">
              <h4 class="uppercase word-detail">{wordType.wordTypeVi}</h4>
              <div class="ml-4">{wordType.meanings.map(meaning => (
                <li>{meaning.meaningVi}</li>
                <div class="ml-4">{meaning.examples.map(example=> (
                  <div class="mb-2">
                    <h6>- {example.example}</h6>
                    <h6 class="ml-2">{example.viMeaning}</h>  
                  </div>
                ))}
                </div>
              ))}
              </div>
            </div>
          ))
        }
      </Fragment>
    </div>
  </div>
</Layout>
