---
import Layout from "../../layouts/Layout.astro";
import type { WordDefinition } from "../../models/word-definition";
import "./word.css";
const { word } = Astro.params;
if (!word) {
  window.location.href = "/";
}

let response = await fetch(`${import.meta.env.BACKEND}api/word/${word}`);
let wordDefinition: WordDefinition = await response.json();
console.log(wordDefinition);
---

<Layout title="" word="''">
  <!-- <main class="">{wordDefinition.definition} {wordDefinition.word}</main> -->
  <div>
    <div>
      <h2 class="uppercase word-detail">
        {wordDefinition.word} | <span>{wordDefinition.pronounceVi}</span> | <span class="cursor-pointer"
          ><i class="fa-solid fa-headphones"></i> US</span
        >|
        <span class="cursor-pointer"
          ><i class="fa-solid fa-headphones"></i> UK</span
        >
      </h2>
      <div>
        <h4 class="uppercase word-detail">Nounce</h4>
        Wiggling
      </div>
    </div>
  </div>
</Layout>
